@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Solway:wght@400;700&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --dark-pink : #dd127b
    
}

.dark-pink{
    background-color: var(--dark-pink);
}

/* universal css start*/
a{
    text-decoration: none;
    font-family: "roboto", sans-serif;
}
a.active {
    color: #000 !important;
}
a.nav-link:hover,
a.dropdown-item:hover {
    color: var(--dark-pink) !important;
    transition: 0.2s linear;
}
.dropdown-menu {
    width: 200px;
    border: none;
    border-radius: 0px;
    transition: all 0.4s ease-in-out;
    box-shadow: 0px 0px 10px 0px #ccc;
}
.dropdown:hover .dropdown-menu {
    display: block;
    margin: 10px;
}
.fs-13{
    font-size: 13px;
}
.fw-4{
    font-weight: 400;
}
.fw-5{
    font-weight: 500;
}
.fw-6{
    font-weight: 600;
}
.text-primary2{
    color: #0093dd;
}
.bg-secondary2{
    background-color: #e2e2e2;
}
h3{
    color: #dd127b;
    font-family: 'Franklin Gothik Medium', 'Arial Narrow', sans-serif;
}
p{
    font-family: "roboto", sans-serif;
    line-height: 25px;
    text-align: justify;
    letter-spacing: 0.4px;
}


/* universal css end */
/* banner start */
.carousel{
    position: relative;
}
/* .carousel-indicators{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-right: 15%;
    margin-bottom: 1rem;
    margin-left: 15%;
    list-style: none;
} */
.carousel-indicators [data-bs-target]{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #dd127b; 
}
.carousel-inner{
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-item{
    position: relative;
    display: none;
    width: 100%;
    float: left;
    margin-right: -100%;
    backface-visibility: hidden;
    transition: transform .6s ease-in-out;
}
.carousel-item .carousel-caption{
    position: absolute;
    top: 40%;
    left: 9%;
    right: 9%;
    text-align: left;
    color: #dd127b !important;
    font-family: "solway";
}
.carousel-item .carousel-caption a:hover{
    color:#dd127b !important ;
    transform:scale(1.03s);
    transition: all 0.2s;
}
.carousel-control-prev-icon, .carousel-control-next-icon{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid #fff;
}
.carousel-control-next, .carousel-control-prev{
    width: 8%;
    opacity: 0.9;
}
.breadcrumb{
    height: 350px;
    line-height: 350px;
    justify-content: center;
}
marquee{
    box-shadow: 0 0 5px grey;
}

/* banner end */
/* need-help section start */
.address-info{
    padding: 0px 30px;
    border-radius: 15px;
    border-top: 4px solid #0093dd;
    border-bottom: 4px solid #0093dd;
    box-shadow: 0px 0px 3px 1px #ccc;
}
.add-icon a{
    font-size: 25px;
    color: #0093dd;
    padding:12px 17px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0px 0px 3px 1px #ccc;
}
.add-icon a:hover{
    background: #0093dd;
    color: #fff;
}
/* need-help section end */
/* footer start */
  .social-icon li{
    width: 35px;
    height: 35px;
    padding-top: 5px;
    border-radius: 50%;
    text-align: center;
    background-color: #0093dd;
    box-shadow: 0 0 3px 1px #0093dd;
  }

  .social-icon li:hover{
    font-weight: bold;
    transition: all 0.3s;
    transform: scale(1.1);
}
 footer .links li a:hover{
    color: #dd127b !important;
    transition: 0.2s;
}
.input-group{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

/* footer end */
/* about bcsa page start */

/* about bcsa page end */

/* registration page start */
#form{
    width: 48%;
}
#form .btn:hover{
    background-color: #000;
    color: #fff;
}
table {
    caption-side: bottom;
    border-collapse: collapse;
}

/* registration page end */
/* gallery page start */
.album{
    background-color: skyblue;
}
.image-container .image {
    height: 250px;
    width: 350px;
    border: 10px solid #fff;
    box-shadow: 0 5px 15px rgb(0,0,0,.1);
    overflow: hidden;
}
.image-container .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .4s linear;
}
/* gallery page end */